
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;

}
*{
    list-style-type: none !important;
    text-decoration: none !important;
}
body{
    background-color:#F6F9FF;
}
.single-card{
    background: #FFFFFF;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 0 7px 2px #00000009;
}
.single-card h1 a{
    display:block;
    padding: 32px  0  0 70px;
    font-family: 'Rozha One', serif;
    font-size: 32px;
    color:#000;
}
.single-card h1 a:hover{
    color:#2477C2;
}
.single-card span{
    padding: 32px  0  0 70px;
    font-family: 'Poppins', serif;
    font-size: 16px;
}

.single-card img{
    padding: 10px  70px  0 70px;
}
.single-card p{
    font-family: 'Poppins', serif;
    font-size: 18px;
    padding: 20px  70px  0 70px;
}
.single-card hr{
    
    margin:0px  70px  0 70px;
}
.categories-container{
    background: #FFFFFF;
}
.categories-container ul{
    margin-top: 0;
}
main{
    margin: 45px 50px ;
}



header{
    width: 90%;
    margin:0 auto;
}
header:before{
    content:"";
    display: block;
    height: 80px;
    width: 100%;
    background: #0A0A0A;
    position: absolute;
    left: 0;
    z-index: -1;
}
header ul{
    margin: 0;
    padding: 0;
    height: 80px;
}
header .logo{
    
    padding: 20px 40px;
    font-size: 36px;
}
header ul li{
    float:left
}
header ul li a{
    color:#FFFFFF;
    display: block;
    height: 80px;
    padding: 0 15px;

    line-height: 80px;
    font-family: "Roboto";
  
    font-size: 20px;

}
.right-menu{
float:right;
}

.categories-container{
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 0 7px 2px #00000009;
}

.categories-container h1{
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 300;
}

.categories-container ul{
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}
.categories-container li{
    display: block;
    background: #BDCEFF;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 8px;


}
.categories-container li a{
    margin: 0 0  0 10px;
    padding: 10px;
    font-family: "Roboto";
    font-size: 18px;
    text-align:center;
}
.categories-container h1{
    text-align: center;
}
footer{
    display: block;
    width: 100%;
    background: #0A0A0A;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 16px;
    font-family: "Roboto";
}
footer span{
    color: #fff;
    padding-left: 50px;
}





.blog-page{
    margin: 45px 50px ;
    background: #FFFFFF;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 0 7px 2px #00000009;
}
.blog-page h1{
    padding: 32px  0  0 70px;
    font-family: 'Rozha One', serif;
    font-size: 32px;
}
.blog-page span{
    padding: 32px  0  0 70px;
    font-family: 'Poppins', serif;
    font-size: 16px;
}
.blog-page img{
    padding: 10px  70px  0 70px;
}
.blog-page p{
    font-family: 'Poppins', serif;
    font-size: 18px;
    padding: 20px  70px  20px 70px;
}
.blog-page hr{
    
    margin:0px  70px  0 70px;
}
.btn-holder{
    margin: 0 auto;
    width: 656px;
    text-align: center;
    padding-bottom: 20px;
}
.btn{

    width: 200px;
    background: #BDCEFF;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    font-family: "Roboto";
    font-size: 20px;


}