{% extends 'blog/base.html' %}
{% block main_content %}
    <h1 class="text">All posts</h1>
            <div class="card-container">
                {% for post in post_list %}
                <div class="single-card">
                    <h1><a href="{% url 'blog:post' post.id %}">{{post.header_text}}</a> </h1>
                    <span class="creator-date">Created by {{post.author}} on {{post.pub_date}}</span>
                    <span class="creator-date">Category: {{post.category}}</span>
                    <hr>
                    <img src="{{post.image.url}}" alt="" srcset="">
                    <p class="main-text">{{post.content_text|truncatewords_html:20|safe}}</p>
                </div>
                {% endfor %}

            </div>
        
{% endblock %}